*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  height: auto;
  vertical-align: top;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #252d37;
}

@media screen and (min-width: 1080px) {
  body {
    font-size: 18px;
  }
}

.container {
  width: 345px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .container {
    width: 100%;
    max-width: 1079px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

header {
  width: 100%;
  background-color: transparent;
}

.header {
  position: absolute;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 37px;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 375px) and (max-width: 1079px) {
  .menu-wrapper {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (min-width: 1080px) {
  .menu-wrapper {
    position: static;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }
}

.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 76px;
}

@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
}

.logo {
  margin-right: 25px;
}

.thumb {
  display: none;
}

@media screen and (min-width: 768px) {
  .thumb {
    display: block;
    width: 27px;
    height: 27px;
    margin-top: 3px;
    border: 1px solid #00feff;
    border-radius: 50%;
  }
}

.ua {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11px;
  font-weight: 700;
  color: #00feff;
  text-transform: uppercase;
}

.menu-btn {
  display: block;
  width: 26px;
  height: 18px;
  background: url(../images/burger.svg);
  background-size: contain;
}

@media screen and (min-width: 1080px) {
  .menu-btn {
    display: none;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .header-wrapper {
    width: calc(100vw - 150px);
  }
}

@media screen and (min-width: 1080px) {
  .header-wrapper {
    width: 880px;
  }
}

.hero {
  max-width: 100%;
  height: 100vh;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
  padding-top: 154px;
  background-image: url(../images/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 600px;
    margin-bottom: 90px;
    background-image: url(../images/desktop-bg.jpg);
  }
}

@media screen and (min-width: 1080px) {
  .hero {
    height: 560px;
  }
}

.hero-title {
  width: 333px;
  padding-bottom: 46px;
  font-size: 40px;
  font-weight: 900;
  color: #00feff;
  line-height: 1.1;
}

@media screen and (min-width: 1080px) {
  .hero-title {
    width: 568px;
    padding-bottom: 57px;
    font-size: 50px;
  }
}

.hero-subtitle {
  max-width: 222px;
  font-size: 18px;
  font-weight: 900;
  color: #00feff;
}

@media screen and (min-width: 1080px) {
  .hero-subtitle {
    min-width: 389px;
  }
}

.hero-text {
  max-width: 222px;
  margin-bottom: 35px;
  color: #ffffff;
  line-height: 1.4;
}

@media screen and (min-width: 1080px) {
  .hero-text {
    margin-bottom: 28px;
  }
}

.hero-text-big {
  font-size: 24px;
}

.hero-text-bigger {
  font-size: 36px;
  font-weight: 700;
}

.hero-subtext {
  margin-top: 37px;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .hero-subtext {
    width: 278px;
    margin-top: 0;
    text-align: right;
  }
}

@media screen and (min-width: 1080px) {
  .hero-subtext {
    width: 460px;
  }
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 46px;
}

@media screen and (min-width: 1080px) {
  .about {
    margin-bottom: 61px;
  }
}

.about-flex-wrapper {
  display: block;
}

@media screen and (min-width: 1080px) {
  .about-flex-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
  }
}

.about__title {
  margin-bottom: 20px;
  margin-right: 70px;
  white-space: nowrap;
}

.about__text {
  color: #252d37;
  line-height: 1.3;
}

.services__title {
  margin-bottom: 38px;
}

@media screen and (min-width: 1080px) {
  .services__title {
    margin-bottom: 52px;
  }
}

.services__wrap {
  display: grid;
  column-gap: 42px;
  row-gap: 38px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin-bottom: 70px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .services__wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1079px) {
  .services__wrap {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 63px;
  }
}

.services__item {
  position: relative;
  display: flex;
  flex-direction: row;
}

.services__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 63px;
  height: 53px;
  background-color: #00feff;
}

.services__item::after {
  content: "";
  position: absolute;
  top: -12px;
  left: -15px;
  display: block;
  width: 63px;
  height: 57px;
  background-repeat: no-repeat;
  background-size: contain;
}

.services__item:nth-child(1)::after {
  background-image: url(../images/features/repair.svg);
}

.services__item:nth-child(2)::after {
  background-image: url(../images/features/repair-serv.svg);
}

.services__item:nth-child(3)::after {
  background-image: url(../images/features/pc-serv.svg);
}

.services__item:nth-child(4)::after {
  background-image: url(../images/features/find.svg);
}

.services__item:nth-child(5)::after {
  background-image: url(../images/features/cloud.svg);
}

.services__item:nth-child(6)::after {
  background-image: url(../images/features/car.svg);
}

.services__item__text {
  padding-left: 75px;
  font-size: 18px;
  font-weight: 700;
}

.services__subtitle {
  margin-bottom: 38px;
  font-size: 22px;
  font-weight: 700;
  color: #001e42;
  line-height: 1.1;
}

@media screen and (min-width: 1080px) {
  .services__subtitle {
    margin-bottom: 31px;
    font-size: 24px;
  }
}

.services--flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 42px;
}

.services__text {
  margin-bottom: 1em;
  line-height: 1.4;
}

@media screen and (min-width: 1080px) {
  .services__text {
    margin-bottom: 42px;
  }
}

.services__target {
  margin-bottom: 30px;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .services__target {
    margin-bottom: 132px;
  }
}

.services__target-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
  color: #001e42;
  line-height: 1.15;
}

@media screen and (min-width: 1080px) {
  .services__target-title {
    margin-bottom: 0;
    padding-left: 81px;
  }
}

.services__target-title::before {
  content: "";
  display: block;
  position: relative;
  bottom: 15px;
  width: 159px;
  height: 158px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/target.svg);
}

@media screen and (min-width: 1080px) {
  .services__target-title::before {
    width: 164px;
    height: 163px;
  }
}

.services__target-text {
  font-size: 22px;
  font-weight: 700;
  color: #001e42;
  line-height: 1.23;
}

.brand {
  white-space: pre;
}

@media screen and (min-width: 1080px) {
  .features {
    margin-bottom: 115px;
  }
}

.features__text {
  margin-top: 46px;
  font-size: 22px;
  font-weight: 700;
  color: #001e42;
  line-height: 1.3;
}

@media screen and (min-width: 1080px) {
  .features__text {
    font-size: 24px;
  }
}

.offer {
  width: 344px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1080px) {
  .offer {
    width: 940px;
    margin-bottom: 81px;
  }
}

.features__offer {
  display: grid;
  column-gap: 15px;
  row-gap: 61px;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  margin-bottom: 41px;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .features__offer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1079px) {
  .features__offer {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 115px;
  }
}

.features__offer__item {
  position: relative;
  padding-left: 15px;
}

.features__offer__item::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -5px;
  display: block;
  width: 57px;
  height: 117px;
  background-repeat: no-repeat;
  z-index: -1;
}

.features__offer__item:nth-child(1)::before {
  background-image: url(../images/1.svg);
}

.features__offer__item:nth-child(2)::before {
  background-image: url(../images/2.svg);
}

.features__offer__item:nth-child(3)::before {
  background-image: url(../images/3.svg);
}

.price {
  margin-bottom: 67px;
}

@media screen and (min-width: 1080px) {
  .price {
    margin-bottom: 97px;
  }
}

.price-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.price-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 4px;
}

.price__button {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-left: 9px;
  padding-right: 8px;
  border: 2px solid #001e42;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .price__button {
    padding-left: 22px;
    padding-right: 23px;
  }
}

.price__button:hover {
  box-shadow: 4px 4px 8px 6px rgba(34, 60, 80, 0.2);
}

.price__button::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 21px;
  margin-left: 10px;
  background-image: url(../images/arrow-download.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.price__button:first-child {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .price__button:first-child {
    margin-right: 24px;
  }
}

.price__title {
  margin-bottom: 20px;
}

@media screen and (min-width: 1080px) {
  .price__title {
    margin-bottom: 2px;
  }
}

.price__text {
  line-height: 1.4;
}

.price__text:last-child {
  margin-top: 1em;
}

.price-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__item {
  height: inherit;
  border: 2px solid #001e42;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price__item:hover {
  box-shadow: 4px 4px 8px 6px rgba(34, 60, 80, 0.2);
}

.plan--flex {
  display: flex;
  height: auto;
  color: #001e42;
}

.plan {
  align-items: center;
  padding: 38px 19px 40px;
  text-align: center;
}

.plan__title {
  margin-bottom: 16px;
}

.plan__name {
  margin-bottom: 6px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4;
}

@media screen and (min-width: 1080px) {
  .plan__name {
    height: 72px;
  }
}

.plan__price {
  margin-bottom: 3px;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
}

.plan__pay {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 1.2;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 13px;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .price-grid {
    grid-template-rows: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1080px) {
  .price-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .items-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    height: 100%;
  }
}

.clients {
  margin-bottom: 66px;
}

.clients__title {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .clients__title {
    margin-bottom: 25px;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 74px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .clients__item {
    width: 110px;
    height: 90px;
  }
}

@media screen and (min-width: 1080px) {
  .clients__item {
    width: 162px;
    height: 110px;
  }
}

.clients__item:hover {
  border-radius: 5px;
  box-shadow: 4px 4px 8px 6px rgba(34, 60, 80, 0.2);
}

.clients__item a img {
  width: 93px;
}

@media screen and (min-width: 1080px) {
  .clients__item a img {
    width: 137px;
    height: 42px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 7px;
  grid-row-gap: 5px;
  justify-content: center;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .clients-list {
    justify-content: space-between;
  }
}

.info {
  margin-bottom: 56px;
  color: #a5aaaf;
}

.info__title {
  margin-bottom: 27px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .info__title {
    font-size: 20px;
  }
}

.info__text {
  font-size: 12px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .info__text {
    font-size: 13px;
  }
}

.order {
  min-height: 430px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/desktop-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-div {
  display: flex;
  align-items: center;
  margin-bottom: 39px;
  padding-top: 63px;
}

@media screen and (min-width: 768px) {
  .order-div {
    justify-content: center;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 28px;
  }
}

@media screen and (min-width: 1080px) {
  .order-div {
    padding-left: 58px;
  }
}

.order__text {
  font-size: 33px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
}

@media screen and (min-width: 1080px) {
  .order__text {
    font-size: 36px;
  }
}

.form {
  flex-direction: column;
  width: 298px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 343px;
  }
}

.form > button {
  width: 100%;
  padding-left: 82px;
}

@media screen and (min-width: 768px) {
  .form > button {
    padding-left: 94px;
  }
}

.form-wrap {
  padding-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .form-wrap {
    padding-top: 50px;
    padding-bottom: 35px;
  }
}

.input {
  width: 100%;
  margin-bottom: 17px;
  padding: 10px 20px 7px;
  background-color: #ececec;
}

.input:hover, .input:focus {
  outline: 2px solid #00feff;
}

.input::placeholder {
  color: #001e42;
  line-height: 1.4;
}

.message {
  height: 70px;
  margin-bottom: 14px;
  resize: none;
}

.policy {
  position: relative;
}

.policy__text {
  margin-bottom: 17px;
  padding-left: 27px;
  padding-top: 3px;
  font-size: 10px;
  color: #a5aaaf;
  line-height: 1.4;
}

.policy__text::before {
  content: "";
  position: absolute;
  left: -298px;
  top: 22px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 6px solid #ececec;
  background-image: url(../images/checkbox-form.svg);
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .policy__text::before {
    left: 0;
    top: 0;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .policy__text::before {
  background-image: url(../images/checkbox-checked.svg);
  background-size: contain;
}

footer {
  padding-top: 31px;
  padding-bottom: 33px;
  background-color: #06182f;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.footer__text {
  margin-bottom: 5px;
  color: #00feff;
}

@media screen and (min-width: 768px) {
  .footer__text {
    margin-bottom: 19px;
    text-align: right;
  }
}

.footer__mail {
  color: #ffffff;
  line-height: 1.23;
}

.footer__mail:hover {
  color: #00feff;
}

.footer__contacts:first-child {
  margin-top: 22px;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .footer__contacts:first-child {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.footer__contacts:last-child {
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .footer__contacts:last-child {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .copyright__text {
    text-align: right;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.is-hidden .modal {
  transform: translate(-50%, -200%);
}

.modal__btn {
  position: absolute;
  top: 16px;
  right: 15px;
  padding: 3px;
}

@media screen and (min-width: 768px) {
  .modal__btn {
    top: 20px;
    right: 20px;
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 34px;
  background-color: #faf8f8;
  overflow-y: auto;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  z-index: 8;
}

@media screen and (min-width: 768px) {
  .menu {
    right: 0;
    width: 450px;
    height: 100vh;
    overflow-y: scroll;
  }
}

.menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.menu__btn {
  position: absolute;
  top: 37px;
  right: 45px;
  width: 26px;
  height: 18px;
  padding: 3px;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    top: 35px;
    right: 57px;
  }
}

.menu-nav {
  margin-bottom: 38px;
}

.menu-nav-item {
  text-align: center;
}

.menu-nav-item:not(:last-child) {
  margin-bottom: 36px;
}

.menu-nav__link {
  font-size: 18px;
  color: #001e42;
  line-height: 1.22;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__link:hover {
  color: #00feff;
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
  padding-left: 13px;
}

.menu-contacts__provider {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 18px;
}

.menu-contacts__link {
  display: inline-block;
  width: 179px;
  margin-right: 4px;
  font-size: 18px;
  font-weight: 700;
  color: #001e42;
  line-height: 1.23;
}

.menu-contacts__link:hover {
  color: #00feff;
}

.menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-order {
  position: fixed;
  bottom: 34px;
}

@media screen and (max-width: 767px) {
  .menu-order {
    left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .menu-order {
    right: 100px;
  }
}

.lang {
  display: flex;
  justify-content: center;
}

.btn-lang {
  width: 34px;
  height: 26px;
  background-color: #f2f2f2;
}

.btn-lang:not(:last-child) {
  margin-right: 25px;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100vw;
  height: 60px;
  padding-top: 13px;
  background-color: #06182f;
  opacity: 0;
  z-index: 5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu-bar.bar-show {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .menu-bar.bar-show {
    visibility: hidden;
    opacity: 0;
  }
}

.bar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
  flex-direction: row;
}

.site-nav:ntn-child(3) {
  margin-right: 0px;
}

.site-nav__link {
  margin-right: 39px;
  color: #ffffff;
  line-height: 1.22;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover {
  color: #00feff;
}

.contacts-nav {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.contacts-nav__provider {
  font-size: 12px;
}

.contacts-nav__item {
  text-align: right;
}

.contacts-nav__link {
  display: inline-block;
  width: 156px;
  margin-right: 5px;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.23;
}

.contacts-nav__link:hover {
  color: #00feff;
}

.button {
  width: 298px;
  height: 50px;
  padding-left: 22px;
  border: none;
  background-color: #00feff;
  font-size: 14px;
  font-weight: 700;
  color: #002047;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .button {
    width: 253px;
  }
}

.button::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-left: 12px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.button:hover {
  box-shadow: 4px 4px 8px 6px rgba(34, 60, 80, 0.2);
  color: #001e42;
  opacity: 0.8;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #001e42;
  line-height: 1.2;
}

@media screen and (min-width: 1080px) {
  .title {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  .flex-parent {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .flex-child {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .flex-child:first-child {
    margin-right: 30px;
  }
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 13px;
  grid-column-gap: 30px;
}

@media screen and (min-width: 768px) {
  .grid-parent {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */