.contacts-nav {
  display: flex;
  flex-direction: column;
  color: $color-white;

  &__provider {
    font-size: 12px;
  }

  &__item {
    text-align: right;
  }

  &__link {
    display: inline-block;
    width: 156px;
    margin-right: 5px;
    font-size: 17px;
    font-weight: 700;
    color: $color-white;
    line-height: 1.23;

    &:hover {
      color: $color-primary;
    }
  }
}
