$color-primary: #00feff;
$color-second: #06182f;
$color-hover: rgba(34, 60, 80, 0.2);
$color-bg-form: #ececec;
$color-text: #252d37;
$color-text-dark: #001e42;
$color-text-light: #a5aaaf;
$color-text-add: #002047;
$color-white: #ffffff;
$color-button-lang: #f2f2f2;
$color-text-form: #444444;
$font: "Montserrat", sans-serif;
$t-t-function: cubic-bezier(0.4, 0, 0.2, 1);
$t-duration: 250ms;
