.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100vw;
  height: 60px;
  padding-top: 13px;
  background-color: $color-second;
  opacity: 0;
  z-index: 5;
  transition: opacity $t-duration $t-t-function 250ms;

  &.bar-show {
    visibility: visible;
    opacity: 1;

    @media screen and (min-width: 768px) {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.bar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
