footer {
  padding-top: 31px;
  padding-bottom: 33px;
  background-color: $color-second;
  color: $color-white;

  @media screen and (min-width: 768px) {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.footer__text {
  margin-bottom: 5px;
  color: $color-primary;

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
    text-align: right;
  }
}

.footer__mail {
  color: $color-white;
  line-height: 1.23;

  &:hover {
    color: $color-primary;
  }
}

.footer__contacts:first-child {
  margin-top: 22px;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.footer__contacts:last-child {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }
}

.copyright__text {
  @media screen and (min-width: 768px) {
    text-align: right;
  }
}
