.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 34px;
  background-color: rgb(250, 248, 248);
  overflow-y: auto;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  z-index: 8;

  @media screen and (min-width: 768px) {
    right: 0;
    width: 450px;
    height: 100vh;
    overflow-y: scroll;
  }

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity $t-duration $t-t-function 250ms;
  }

  &-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
  }

  &__btn {
    position: absolute;
    top: 37px;
    right: 45px;
    width: 26px;
    height: 18px;
    padding: 3px;

    @media screen and (min-width: 768px) {
      top: 35px;
      right: 57px;
    }
  }

  &-nav {
    margin-bottom: 38px;

    &-item {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 36px;
      }
    }

    &__link {
      font-size: 18px;
      color: $color-text-dark;
      line-height: 1.22;
      transition: all $t-duration $t-t-function;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    padding-left: 13px;

    &__provider {
      font-size: 12px;
      font-weight: 400;
      text-align: right;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    &__link {
      display: inline-block;
      width: 179px;
      margin-right: 4px;
      font-size: 18px;
      font-weight: 700;
      color: $color-text-dark;
      line-height: 1.23;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-order {
    position: fixed;
    bottom: 34px;

    @media screen and (max-width: 767px) {
      left: 40px;
    }

    @media screen and (min-width: 768px) {
      right: 100px;
    }
  }
}

.lang {
  display: flex;
  justify-content: center;
}

.btn-lang {
  width: 34px;
  height: 26px;
  background-color: $color-button-lang;

  &:not(:last-child) {
    margin-right: 25px;
  }
}
