.order {
  min-height: 430px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/desktop-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-div {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
    padding-top: 63px;

    @media screen and (min-width: 768px) {
      justify-content: center;
      margin-bottom: 0;
      padding-top: 0;
      padding-left: 28px;
    }

    @media screen and (min-width: 1080px) {
      padding-left: 58px;
    }
  }

  &__text {
    font-size: 33px;
    font-weight: 700;
    color: $color-white;
    line-height: 1.2;

    @media screen and (min-width: 1080px) {
      font-size: 36px;
    }
  }
}

.form {
  flex-direction: column;
  width: 298px;
  font-size: 18px;

  @media screen and (min-width: 768px) {
    width: 343px;
  }

  & > button {
    width: 100%;
    padding-left: 82px;

    @media screen and (min-width: 768px) {
      padding-left: 94px;
    }
  }

  &-wrap {
    padding-bottom: 28px;

    @media screen and (min-width: 768px) {
      padding-top: 50px;
      padding-bottom: 35px;
    }
  }
}

.input {
  width: 100%;
  margin-bottom: 17px;
  padding: 10px 20px 7px;
  background-color: $color-bg-form;

  &:hover,
  &:focus {
    outline: 2px solid $color-primary;
  }

  &::placeholder {
    color: $color-text-dark;
    line-height: 1.4;
  }
}

.message {
  height: 70px;
  margin-bottom: 14px;
  resize: none;
}

.policy {
  position: relative;
  display: flex;

  &__text {
    margin-bottom: 17px;
    padding-left: 27px;
    padding-top: 3px;
    font-size: 10px;
    color: $color-text-light;
    line-height: 1.4;

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 6px solid $color-bg-form;
      background-image: url(../images/checkbox-form.svg);
      background-size: contain;
    }
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .policy__text::before {
    background-image: url(../images/checkbox-checked.svg);
    background-size: contain;
  }
}
