.price {
  margin-bottom: 67px;

  @media screen and (min-width: 1080px) {
    margin-bottom: 97px;
  }

  &-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  &-wrapper {
    margin-top: 4px;
    display: flex;
    flex-wrap: nowrap;
  }

  &__button {
    height: 50px;
    text-transform: uppercase;
    border: 2px solid $color-text-dark;
    // padding: 17px 54px 18px 22px;
    // padding-top: 17px;
    padding-left: 9px;
    padding-right: 8px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    transition: all $t-duration $t-t-function;

    @media screen and (min-width: 768px) {
      padding-left: 22px;
      padding-right: 23px;
    }

    &:hover {
      box-shadow: 4px 4px 8px 6px $color-hover;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 22px;
      height: 21px;
      margin-left: 10px;
      background-image: url(../../images/arrow-download.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:first-child {
      margin-right: 15px;

      @media screen and (min-width: 768px) {
        margin-right: 24px;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    @media screen and (min-width: 1080px) {
      margin-bottom: 2px;
    }
  }

  &__text {
    line-height: 1.4;
    // min-width: 340px;

    &:last-child {
      margin-top: 1em;
    }
  }

  &-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.plan--flex {
  display: flex;
  height: auto;
  color: $color-text-dark;
}

.price__item {
  // min-width: 247px;
  border: 2px solid $color-text-dark;
  height: inherit;
  transition: all $t-duration $t-t-function;

  @media screen and (max-width: 768px) {
    // width: 345px;
  }

  &:hover {
    box-shadow: 4px 4px 8px 6px $color-hover;
  }

  // &:last-child {
  //   margin-bottom: 35px;

  //   @media screen and (min-width: 768px) {
  //     margin-bottom: 0;
  //   }
  // }
}

.plan {
  padding: 38px 19px 40px;
  text-align: center;
  align-items: center;

  &__title {
    margin-bottom: 16px;
  }

  &__name {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 6px;
  }

  &__price {
    font-size: 70px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 3px;
  }

  &__pay {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 13px;

  @media screen and (min-width: 768px) and (max-width: 1079px) {
    grid-template-rows: repeat(1, 1fr);
  }

  @media screen and (min-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 16px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    height: 100%;
  }
}
